{#
/**
 * @file
 * Bootstrap Layouts: "1 Column (stacked)" template.
 *
 * Available layout variables:
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - top
 * - main
 * - bottom
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}

<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}

    {% if top.content %}
      {% if wrapper_link %}
        <a href="{{ wrapper_link }}">
      {% endif %}
      <{{ top.wrapper }}{{ top.attributes }}>
        {{ top.content }}
      </{{ top.wrapper }}>
      {% if wrapper_link %}
        </a>
      {% endif %}
    {% endif %}

    {% if main.content %}
      {% if wrapper_link %}
        <a href="{{ wrapper_link }}">
      {% endif %}
    <{{ main.wrapper }}{{ main.attributes }}>
      {{ main.content }}
    </{{ main.wrapper }}>
      {% if wrapper_link %}
        </a>
      {% endif %}
    {% endif %}

    {% if bottom.content %}
    <{{ bottom.wrapper }}{{ bottom.attributes }}>
      {{ bottom.content }}
    </{{ bottom.wrapper }}>
    {% endif %}

</{{ wrapper }}>
