<div id="{{ id }}" class="ajax--wrapper ajax-confirm size--{{ size }}">
  <div class="ajax-confirm--inner">
    <div class="ajax-confirm--heading heading-medium"><i class="fa fa-{{ icon }}"></i>{{ heading }}</div>
    <div class="ajax-confirm--content">
      <div class="ajax-confirm--copy">{{ content }}</div>
    </div>
  </div>
</div>
